{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}
<!-- header page : banner with page title -->

<div class="container-fluid">
  <div class="row banner contact d-flex align-items-center">
    <h1 class="col-12">Contactez nous Bordel</h1>
  </div>
</div>

{% endblock %}
