{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

<div class="container">

	<div class="row">

		<div class="card col-12 col-md-6">
	    <div class="card-block center">
	      <h3 class="card-title">Mister Tea</h3>
				<img src="{{ asset('img/team/mistertea.jpg')}}" class="card-img-top img-fluid" alt="team mistertea">
	      <p class="card-text py-5">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in fringilla nunc, sit amet ullamcorper quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec tortor turpis. Donec pretium cursus congue. Nam egestas velit nec elit posuere tincidunt. Aliquam ac ornare urna. Quisque pellentesque maximus turpis, ut tempor mi venenatis non. Nullam ut efficitur ante, in posuere leo.
				</p>
				<div class="d-flex align-items-center">
					<img src="{{ asset('img/heart.png')}}" alt="icone coeur">
					<p class="card-text">Thé favori: Earl Grey</p>
				</div>
				<div class="d-flex align-items-center">
					<img src="{{ asset('img/twitter.png')}}" alt="icone twitter">
					<a href="twitter.com" class="card-text">@mistertea</a>
				</div>
	    </div>
	  </div>

	</div>






</div>







{% endblock %}
