/*CSS appliquable sur l'ensemble des pages*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Miniver');

/*Police de test*/
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Lora|Dancing+Script|Indie+Flower|Julius+Sans+One|Lobster|Niconne|Rancho|Sacramento');


/*nav h1 {
	font-family: 'Pacifico';
	color: #00A96F;
	position: absolute;
	top: 32%;
	left: 90px;
}*/

body{
	/*background-color: #e4f9f6;*/
	/*padding-bottom: 70px;*/
}

.simpletitle{
	font-family: 'Courgette', arial;
	font-size: 2.5em;
}

/* ------------------------------------------------
					Banners
------------------------------------------------ */

.jumbotron {
	background-image: url("../img/home-banner.jpeg");
	background-size: cover;
	height: 800px;
	z-index: 5;
}

.jumbotron.container {

	background-color: rgba(0, 0, 0, 0.64);
}

.jumbotron h1 {
	font-family: 'Pacifico', cursive;
	font-size: 5em;
	padding-bottom: 0.7em;
}

.jumbotron button {
	border: 2px solid white;
	background-color: transparent;
	padding: 5px;
}

.jumbotron a {
	color: white;
	text-decoration: none;
}

.shop.banner {
	background-image: url("../img/background/banner-shop.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
	font-family: 'Pacifico', cursive;
	text-align: center;
}


.shop.banner h1{
	font-size:5em;
}


.sitemap.banner h1{
	font-size:5em;
}

.sitemap.banner {
	background-image: url("../img/background/banner-sitemap.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
	font-family: 'Pacifico', cursive;
	text-align: center;
}


.user.banner {
	background-image: url("../img/background/banner-user.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.user.banner h1{
	font-size:5em;
}

.blog.banner {
	background-image: url("../img/background/banner-blog.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.blog.banner h1{
	font-size:5em;
}
/*CSS sur le layout (navbar et footer)*/

.bg-faded{
	background-color: rgb(204,234,231);

}

.backToTop {
		position: fixed;
		bottom: 40px;
		right: 20px;
		font-size: 3rem;
		color: #46a271;
}

#footer{
  width: 100%;
  margin-top: 30px;
  padding-top: 5px;
  position: fixed;
  bottom:0;
  background-color: rgba(153,213,207, 0.5);
}

.simplelink{
	text-decoration: none;
	color: #46A271;
	font-family:'Courgette', arial;
}

.simplelink:hover , .simplelink:focus{
	color:#009688;
	text-decoration: none;
}

#footerlink:hover{
	color:black;
}

.letter-spacing: {
	letter-spacing: 3px;
}
.mainlogo{
	height: 20%;
	width: 20%;
	transition: all 0.3s;
}

.mainlogo:hover{
	transform: scale(0.9);
}

.img-fluid{
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------
	Style applicable to the main page
------------------------------------------------ */

.filterisotope{
	visibility: hidden;
}

.filterbutton{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 15px;
	border: 2px solid;
	font-size: 1em;
	word-wrap: break-word;
	width:80%;
	overflow: hidden;
}

.filterbutton:focus{
	border: 2px solid green;
}

.filtercontainer{
	position:fixed;
	top: 7em;
	right:4em;
	background-color: rgba(204, 234, 231, 0.35);
	border-radius: 30px;
	border: 2px dashed #cceae7;
}

.teacontainer{

	padding: 5px;
	border: 2px solid lightgreen;
	border-radius: 4px;
	text-align: center;
	transform: scale(1);
}

.teacontainer:hover{
	transform: scale(0.96);
	border-radius: 10px;
	transition: all 0.2s;
}

.teainformations{
/*	font-family: 'Indie Flower', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Dancing Script', cursive;
	font-family: 'Berkshire Swash', cursive;
	*/font-family: 'Courgette', cursive;/*
	font-family: 'Sacramento', cursive;
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Rancho', cursive;
	font-family: 'Niconne', cursive;*/
	font-size: 1.2em;
	margin-bottom: 1.2em;
	color: #5BAD83;
}

.teasubinformations{
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom: 0.5em;
}

.filterimg{
	border-radius: 15px;
	margin-top: 5px;
	height: 14rem;
	width: 14rem;
}

.way-hidden{
	display: none;
}

/* ------------------------------------------------
	Styles Page Team
------------------------------------------------ */

/* banner - page header */

.team.banner {
	background-image: url("../img/background/banner-team.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 2.2em;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
}

.shoplist.banner {
	background-image: url("../img/background/banner-shoplist.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 10%;
	font-size: 2.2em;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
}

.shoplist h1 {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-align: center;
}


/* card - team presentation */

.team.personaldetails {
	text-transform: uppercase;
	font-size: 0.8em;
}

/* font styles */

.team h1 {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	text-align: center;
}

.team h2 {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	color: #2bbbfd;
}




/* ------------------------------------------------
  Styles applicable to Contact page
------------------------------------------------ */

.contact.banner {
  background-image: url("../img/background/banner-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 2.2em;
  color: #009688;
  text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
  height: 400px;
  background-attachment: fixed;
  margin-bottom: 1.5em;
}

/* contact banner bottom */

.contact.bannerbottom {
	height: 350px;
	background-image: url("../img/contact-teaparty2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 25%;
}

/* font styles */

.contact h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-align: center;
}

.contact h2 {
  font-size: 2em;
	margin-bottom: 1em;
}

/* ------------------------------------------------
	Applicable to Shop page
------------------------------------------------ */

.shoplogo{
	border:2px dashed lightgreen;
	width: 150px;
	height: 150px;
	transition: all 0.5s;
}

.shoplogo:hover{
	transform: scale(0.9);
	border-radius: 90px;
}

/* ------------------------------------------------
	Applicable to Product page
------------------------------------------------ */

.teas.badge-category {
	padding: 5px 10px;
	color: white;
	background-color: #484848;
  border-radius: .25rem;
	text-transform: uppercase;
	font-size: 0.8em;
}

.teas #redirect-shop {
	background-color: #5cb85c;
	color: white;
}

.fav,
.supfav {
	background-color: #5cb85c;
	color: white;
}

.teas.menu {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 30px;
  border-bottom: 0.5px solid lightgrey;
  overflow: auto;
}

.teas.menu a{
	padding-right: 1em;
}

.teas h1 {
	font-family: 'Miniver', cursive;
	font-size: 3em;
	padding-bottom: 0.5em;
}

.teas h2 {
	font-family: 'Miniver', cursive;
	text-align: center;
}

.teas h3 {
	font-family: 'Berkshire Swash';
}

.teas h4 {
	color: rgb(103, 103, 103);
	font-size: 0.8em;
	text-transform: uppercase;
	font-style: italic;
	margin-bottom: 2em;
}

.teas.info {
	font-size: 0.9em;
}

.info-chart {
	font-style: bold;
	font-size: 1.5em;
}

/* row other products */

.teas.menu, .teas.otherproducts {
	overflow: auto;
  display: flex;
	white-space: nowrap;
}

.teas form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wordwrap{
	word-wrap: wrap;
}

/* ------------------------------------------------
	Applicable to shopList page
------------------------------------------------ */

.shoplist img {
}

.shoplist h2 {
	font-family: 'Miniver', cursive;
	text-align: center;
	font-size: 2em;
	padding: 0.5em 0;
}

.shoplist.address{
	font-size: 0.8em;
	text-transform: uppercase;
}

.shoplist.description {
	font-size: 1.5em;
  text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* ------------------------------------------------
	Applicable to ShopPage
------------------------------------------------ */

.shoppage h1 {
	font-family: 'Miniver', cursive;
	font-size: 3em;
	padding-bottom: 0.5em;
}

.shoppage h2 {
	font-family: 'Miniver', cursive;
	font-size: 1.5em;
	padding-bottom: 0.5em;
}

.shoppage.description {
	font-size: 1.2em;
}

.minitext{
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 0;
}

.shoppage-badge {
	padding: 5px 10px;
	color: white;
  border-radius: .25rem;
	text-transform: uppercase;
	font-size: 0.8em;
	width: 7.5em;
	text-align: center;
}

.shoppage.otherproducts h4{
	font-size: 1em;
}

.shoppage-logo {
	max-width: 110px;
	max-height: auto;
	border-radius: 10%;
}


/* ------------------------------------------------
	General styles applicable to all pages
------------------------------------------------ */

.text-center {
	text-align: center;
}

.img-responsive{
	width: 100%;
	height: auto%;
}

.no-textdecoration, .no-textdecoration:hover, .no-textdecoration a, .no-textdecoration a:hover {
	text-decoration: none;
}

.white {
	color: white;
}

.darkgrey {
	color: #484848;
}

.bg-darkgrey {
	background-color: #484848;
}

.bg-white {
	background-color: #fff;
}

.bg-dark, .bg-darkbanner {
	background-color: rgba(48,48,48,0.6);
	height: 100%;
	width: 100%;
}

.grey {
	color: grey;
}

.autumn {
	color: #D9A940;
}

.green {
	color: #009688;
}

.bg-turquoise {
  background-color: #27BEA0;
}

.bg-clearblue {
	background-color: #2bbbfd;
}

.bg-autumn {
	background-color: #D9A940;
}

.bg-orange {
	background-color: rgb(255, 115, 0);
}


/*-----------------------------------------------------
	Style Page admin
------------------------------------------------ */

.header-admin {

	background-color: black;
	text-align: center;

}

.header-admin h3 {

	line-height:  2;
	cursor: pointer;
	color: lightgray;
}

#color-title {


	cursor: default;
}

.header-admin a:focus {

	text-decoration: none;
}

.header-admin a:hover {
	text-decoration: none;
}

#mainDiv {

	background-color: white;
	box-shadow: 1px 2px 3px gainsboro;
}

.pad-h3 {

	padding: 34px 18px;
}

.admin-div-main div {


	text-align: center;
}

.p-admin {

	line-height: 7;
}

.textarea-admin {

	height: 130px;
}

.div-article-admin {

	height: 350px;
	margin-top: 40px;
	box-shadow: 1px 2px 3px black;
	margin: 15px;
	padding: 10px;

}

.img-article-admin {

	height: 60%;
	width: 100%;
}

.hidden {

	display: none;
	visibility: none;
}
/*-----------------------------------------------------
	Style Star-rating
------------------------------------------------ */

.fa-star:before {
    content: "\f005";
   /* color: yellowgreen;*/
   /* color: lightgray;*/
    font-size: 27px;
}

.yellowgreen {

	color : yellowgreen;
}

.lightgray {

	color : lightgray;
}

/*-----------------------------------------------------
	Style Article/News
------------------------------------------------ */


.img-article {
 	height: 100%;
 	width: 100%;
 	box-sizing: border-box;
 	border:1px solid black;
 }

.article-title{
	font-family: 'Lobster', arial;
}

.article-subtitle{
	font-family: 'Courgette', arial;
	font-size: 0.8em;
}

.article-author{
	font-size: 0.7em;
}

.article-content{
	font-family: 'Lora', arial;
}

 .div-article {
 	margin-top: 1em;
 	margin-bottom: 1em;
 	background-color: ;
 	padding: 0.5em;
 	border-radius: 1em;
 	border:3px solid #4ea678;
 }

.article-content{
	overflow: auto;
	word-wrap: break-word;
}
/* ------------------------------------------------
	Media Queries
------------------------------------------------ */

@media (max-width: 768px){

	/* ---- Team Page & Contact Page ---- */
	.team h1, .contact h1{
		font-size: 1.2em;
		padding: 0;
		margin: 0;
	}

	/* ---- Contact Page ---- */
	.contact.banner {
		height: 250px;
	}

	/*---- Index Page ----*/

	.shop.banner h1 {
		font-size: 2em;
	}

}

@media (min-width: 768px) {

	/* ---- Product Page ---- */
	.teas.menu a{
		padding-right: 5em;
	}

	.teas form {
		width: 70%;
	}

	.card-fixed-height {
		overflow: hidden;
		height: 20vw;
	}

	.product.card-fixed-height {
		overflow: hidden;
		height: 29vw;
	}

	/* ---- home page - Jumbotron ---- */
	.jumbotron h1 {
		font-size: 9em;
	}

	.jumbotron a {
		padding: 5px 100px;
	}

	.border {
		border: 10px solid white;
		padding: 5em;
	}

}

@media (min-width: 991px) {

	/* ---- Product Page ---- */

	.product.card-fixed-height {
		overflow: hidden;
		height: 25vw;
	}
}
