/*CSS appliquable sur l'ensemble des pages*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*CSS sur le layout (navbar et footer)*/

.maintitle{
	text-align: center;
}

#footer{
	position: fixed;
	bottom: 0;
  width: 100%;
}

.simplelink{
	text-decoration: none;
	color: #46A271;
}

.simplelink:hover , .simplelink:focus{
	color:#009688;
}

#footerlink:hover{
	color:black;
}

.mainlogo{
	height: 20%;
	width: 20%;
	transition: all 0.3s;
}

.mainlogo:hover{
	transform: scale(1.1);
}

.img-fluid{
	width: 100%;
	height: 100%;
}



/* ------------------------------------------------
	Styles Page Team
------------------------------------------------ */

/* banner - page header */

.team.banner {
	background-image: url("../img/background/banner-team.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 2.2em;
	color: #009688;
	text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
	height: 300px;
	background-attachment: fixed;
	margin-bottom: 1.5em;
}


/* card - team presentation */

.team.personaldetails {
	text-transform: uppercase;
	font-size: 0.8em;
}

/* font styles */

.team h1 {
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	text-align: center;
}

.team h2 {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

/* ------------------------------------------------
  Styles applicable to Contact page
------------------------------------------------ */

.contact.banner {
  background-image: url("../img/background/banner-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 2.2em;
  color: #009688;
  text-shadow: 3px 3px 8px rgba(50, 50, 50, 1);
  height: 400px;
  background-attachment: fixed;
  margin-bottom: 1.5em;
}

/* contact banner bottom */

.contact.bannerbottom {
	height: 350px;
	background-image: url("../img/contact-teaparty2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 25%;
}

/* font styles */

.contact h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-align: center;
}

.contact h2 {
  font-size: 2em;
	margin-bottom: 1em;
}

/* ------------------------------------------------
	General styles applicable to all pages 
------------------------------------------------ */


.img-responsive{
	width: 100%;
	height: auto%;
}

.white {
	color: white;
}

.darkgrey {
	color: #484848;
}

.bg-darkgrey {
	background-color: #484848;
}

.bg-dark {
	background-color: rgba(48,48,48,0.75);
	height: 100%;
	width: 100%;
}

.grey {
	color: grey;
}

.autumn {
	color: #D9A940;
}

.green {
	color: #009688;
}

.bg-turquoise {
  background-color: #27BEA0;
}


/* ------------------------------------------------
	Media Queries
------------------------------------------------ */

@media (max-width: 768px){

	/* ---- Team Page & Contact Page ---- */
	.team h1, .contact h1 {
		font-size: 1.2em;
		padding: 0;
		margin: 0;
	}

	/* ---- Contact Page ---- */
	.contact.banner {
		height: 250px;
	}

}
