<!DOCTYPE html>

<html>
<head>
	<title>Page d'accueil de {{title}} !!</title>
</head>
<body>

	<h1>Bienvenue sur la page {{pageName}} de {{title}} !! </h1>
	{% block body %}
	{% endblock %}

</body>
</html>