{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}

	<div class="container">

		{% if success %}

			<div class="alert alert-info"> Vous allez recevoir un mail ou se trouvera un lien qui vous permettra de changer de mot de passe. <b>Attention ! Le lien n'est valable que 24H !</b></div>
			<div>{{ path('password_change',{'token' : token, 'id' : userId }) }}</div>
		{% else %}
			{% if error.mail is defined %} 
				<div class="alert alert-danger">{{ error.mail }}</div>
			{% endif %}
	 
			<form action="" method="post">
				<div class="form-group"></div>
					<label>Veuillez renseigner l'email utilisé lors de l'inscription : </label><br>
					<input class="form-control" type="text" name="mail" id="mail" placeholder="email...">
					<br/>
					<input type="submit" value="Envoyer mail"/>
				</div>
			</form>
		{% endif %}
	</div>
{% endblock %}