{% extends "HTMainBundle::layout.html.twig" %}


{% block body %}
	{% if success %}
		<div class="alert alert-success">Votre mot de passes a bien été changé.</div>
	{% endif %}

	{% if canChange %}
		{% if error.password is defined %}
			<div class="alert alert-warning">{{ error.password }}</div>
		{% endif %}
		<form action="" method="post">
			<div class="form-group">
				<label>Nouveau mot de passe :</label>
				<input class="form-control" type="password" placeholder="mot de passe" name="password"/>
				<label>Confirmé nouveau mot de passe :</label>
				<input class="form-control" type="password" placeholder="confirmer mot de passe" name="password2"/>
				<input type="submit" value="Changer mot de passe"/>
			</div>

		</form>
	{% else %}
		<div alert alert-danger >Votre lien de changement n'est plus valide ou n'est pas bon </div>
	{% endif %}


{% endblock %}