{% extends "HTMainBundle::layout.html.twig" %}

	

{% block body %}
<!-- header page : banner with page title -->

<div class="container-fluid">
	<div class="row banner team d-flex align-items-center">
		<h1 class="col-12 animated zoomIn">Bienvenue, ami vendeur !</h1>
	</div>
</div>

<div class="container">
	

	{% if success %}
		<div class="alert alert-success"> Votre compte a bien été créé. </div>

	
	{% else %}	

		<form action="" method="post">

			<div class="form-group">
				<label for="username"> Nom d'utilisateur: </label>
				<input type="text" class="form-control" id="username" name="username" />
				{% if error.username is defined %}
					<div class="alert alert-warning"> {{ error.username }} </div>
				{% endif %}
			</div>
			
			<div class= "form-group">
				<label for="mail"> Adresse mail : </label>
				<input type="text" class="form-control" id="mail" name="mail" />
				{% if error.mail is defined  %}
					<div class="alert alert-warning"> {{ error.mail }} </div>
				{% endif %}
			</div>
			
			<div class= "form-group">
				<label for="password"> Mot de passe : </label>
				<input type="password" class="form-control" id="password" name="password"/>
				{% if error.password is defined  %}
					<div class="alert alert-warning"> {{ error.password }} </div>
				{% endif %}
			</div>

			<div class="form-group">
			
				<label for="password2">Retaper le Mot de passe : </label>
				<input type="password" class="form-control" id="password2" name="password2"/>
			</div>

				<div class= "form-group">
					<label for="siret"> Numéro de SIRET : </label>
					<input type="text" class="form-control" id="siret" name="siret"/>
					{% if error.siret is defined  %}
						<div class="alert alert-warning"> {{ error.siret }} </div>
					{% endif %}
				</div>
					
				<input type="submit" value="Inscription"/>





		</form>

	{% endif %}
</div>

{% endblock %}